h1{
    color: blue;
    text-align: center;
    border: solid black;
    margin: auto;
    width: 1000px;
    padding: 15px;
    margin-top: 30px;
}
ol {
    color: red;
    border: solid black;
    width: 200px;
}
ol :hover{
    color: yellow;
}
ul {
color: green;
border: solid black;
width: 200px;
}
ul :hover{
    background-color: blue;
}